:root {
	--primary-color: #00a8ff;
	--secondary-color: #f5f6fa;
	--gray-color-light: #95a5a6;
	--gray-color-dark: #34495e;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #00a8ff;
	font-family: Arial, Helvetica, sans-serif;
}

.page-container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1rem;
}

.main-header {
	margin: 1rem;
	border-radius: 5px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main-header__title {
	padding: 1rem 0;
	display: block;
	color: var(--gray-color-dark);
	font-size: 2rem;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
}

.user-list {
	list-style: none;
}

.user-list__item {
	margin-bottom: 1rem;
	width: 100%;
	padding: 1rem;
	background-color: white;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.user-list__item:last-child {
	border-bottom: 0;
}

.user-list__item-image {
	display: block;
	height: 100px;
	width: auto;
	border-radius: 50%;
	border: 1px solid var(--gray-color-light);
	aspect-ratio: 1 / 1;
}

.user-list__details {
	display: flex;
	flex-direction: column;
}

.user-list__title {
	margin-bottom: 0.5rem;
	color: #34495e;
	font-size: 1.25rem;
	font-weight: 600;
}

.user-list__title-icon {
	height: 1rem;
	width: 1rem;
	margin-right: 0.5rem;
	fill: var(--gray-color-light);
}

.user-list__email {
	margin-bottom: 0.25rem;
	color: var(--gray-color-dark);
	text-decoration: none;
}

.user-list__email-icon {
	height: 1rem;
	width: 1rem;
	margin-right: 0.5rem;
	fill: var(--gray-color-light);
}

.user-list__number {
	color: var(--gray-color-dark);
	text-decoration: none;
}

.user-list__number-icon {
	height: 1rem;
	width: 1rem;
	margin-right: 0.5rem;
	fill: var(--gray-color-light);
}

@media (min-width: 720px) {
	.main-section__container {
		padding: 0 1rem;
	}

	.user-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}

	.user-list__item {
		flex: 0 0 calc(50% - 0.5rem);
		margin-bottom: 0;
	}

	.user-list__item:last-child {
		flex-grow: 0;
	}
}

@media (min-width: 1000px) {
	.user-list__item {
		flex: 0 0 calc(25% - 0.75rem);
		display: flex;
		flex-direction: column;
	}

	.user-list__item-image {
		margin-bottom: 1rem;
	}
}
