:root {
	--primary-color: #54a0ff;
	--white-color: #fff;
	--black-color: #222f3e;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--primary-color);
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	margin: 1rem;
}

.header__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
	background-color: var(--white-color);
	border-radius: 5px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header__title {
	padding: 1rem 0;
	display: block;
	color: var(--black-color);
	font-size: 1.5rem;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
}

.main {
	padding: 0 1rem;
}

.main__container {
	max-width: 1200px;
	margin: 0 auto;
}

.main__filter-options {
	margin-bottom: 1rem;
	border-radius: 5px;
	padding: 1rem;
}

.filter-options {
	background-color: var(--white-color);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.filter-options__reset-button {
	width: 100%;
	padding: 0.5rem;
	background-color: var(--primary-color);
	color: var(--white-color);
	border-radius: 5px;
	border: 0;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
}

.filter-options__group {}

.filter-options__search-input {
	width: 100%;
	padding: 0.65rem 0.5rem;
	margin-bottom: 1rem;
	color: var(--black-color);
	font-size: 1rem;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	outline: none;
}

.filter-options__search-input::placeholder {
	color: var(--primary-color);
}

.gender-sort,
.name-sort,
.age-sort {
	margin-bottom: 1rem;
	padding: 0.5rem;
	display: flex;
	justify-content: space-around;
	border-radius: 5px;
	border: 1px solid var(--primary-color);
}

.gender-sort__legend,
.name-sort__legend,
.age-sort__legend {
	padding: 0 0.5rem;
	color: var(--primary-color);
}

.gender-sort__group {}

.gender-sort__input {
}

.gender-sort__label {
}

.main__user-list {}

.user-list {
	list-style: none;
	margin-bottom: 1rem;
	word-break: break-all
}

.user-list__user-item {}

.user-item {
	padding: 1rem;
	display: flex;
	margin-bottom: 1rem;
	align-items: center;
	background-color: var(--white-color);
	border-radius: 5px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.user-item__image {
	width: 75px;
	height: auto;
	margin-right: 1rem;
	border-radius: 50%;
	border: 1px solid var(--primary-color);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.user-item__title {
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
}

.user-item__title-name {
	color: var(--black-color);
}

.user-item__email {
	display: block;
	margin-bottom: 0.25rem;
	color: var(--primary-color);
	text-decoration: none;
}

.user-item__tel {
	display: block;
	color: var(--primary-color);
	text-decoration: none;
}

@media (min-width: 481px) {
	.user-list {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.user-item {
		flex: 0 1 calc(50% - 0.5rem);
		margin-bottom: 0;
	}
}

@media (min-width: 769px) {
	.main__container {
		display: flex;
		gap: 1rem;
	}

	.main__filter-options {
		flex: 1;
		align-self: flex-start;
	}

	.user-list {
		flex: 3;
	}

	.user-item {
		flex-basis: calc(33.3% - 0.75rem);
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.user-item__image {
		margin-right: 0;
		margin-bottom: 1rem;
	}
}

@media (min-width: 1025px) {
	.user-item {
		flex-basis: calc(25% - 0.75rem);
	}
}
